{% assign posts_limit = page.posts_limit | default: 10 %}

{% comment %} @see https://stackoverflow.com/a/45927348/6924437 {% endcomment %}
{% assign non_php = "" | split: ',' %}

{%- for item in site.posts -%}

  {% if item.tags contains "Laravel" or item.tags contains "PHP" %}

    {% continue %}

  {% endif %}

  {% comment %} Push item into array {% endcomment %}
  {% assign non_php = non_php | push: item %}

{% endfor %}


{%- for entry in non_php limit: posts_limit -%}

  {% include entry.html %}

{%- endfor -%}
